*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a,
button {
  outline: none;
}

body {
  height: 100%;
  margin: 0;
}

/* Main part styles */